{% extends "base.html" %}
{% block content %}
<h1>{{ title }}</h1>
<table>
	<tr class="top">
		<td>Nafn</td>
		<td>Árgerð</td>
		<td>Skóli</td>
		<td>Sími</td>
	</tr>
	{% for x in listi %}
	<tr>
		<td>{{ x[0] }}</td>
		<td>{{ x[1] }}</td>
		<td>{{ x[2] }}</td>
		<td>{{ x[3] }}</td>
	</tr>
	{% endfor %}
</table>
<form>
	<h1>Hér er hægt að bæta við eða fjarlægja dómara</h1>
	<p>Nafn</p><input type="text" name="nafn">
	<p>Árgerð</p><input type="text" name="model">
	<p>Skóli</p><input type="text" name="skoli">
	<p>Sími</p><input type="text" name="simi">

	<p>Bæta við</p><input type="submit">
</form>
{% endblock %}
